<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Les utilisateurs</div>
      <div class="page__content shadow p-3 position-relative">
        <mat-card class="example-card" *ngFor="let i of list">
          <mat-card-header class="text-center">
            <mat-card-title style="color: rgb(6, 66, 151);">{{i.pseudo}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span>Nom complet: {{i.nomComplet}} </span>  <br><br>
              <span>Numero : {{i.numero}} </span>  <br><br>
              Nombre de note: {{i.notes.length}} <br><br>
              Nombre de categorie: {{i.categories.length}} <br>
            </p>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
