<div class="head text-center">
  <img  src="../../assets/note.png" alt="">
</div>

<div class="form">
  <mat-card>
    <form action="">
      <div class="chps">
        <div class="inp">
          <input type="text" placeholder="login">
        </div>
        <div class="inp">
          <input type="password" name="" id="" placeholder="mot de passe">
        </div>
      </div>
      <div class="inp">
        <button routerLink="/home">Connexion</button>
      </div>
    </form>
    <a href="" style="color: rgb(174, 174, 174); font-size: 15px;">Mot de passe oublié?</a>
  </mat-card>
</div>
