<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/note.png" alt="Company Logo"/>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"></h2>

  <!-- Admin view -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>analytics</mat-icon> Acceuil
  </a>
  <!-- Admin view (notification) -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/list">
    <mat-icon>group</mat-icon> Liste des utilisateurs
  </a>

</mat-nav-list>
