.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: rgb(222, 221, 221);
    color: black;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #0f172a;
}


.container {
  position: relative;
  margin: auto;
  margin-top: 5px;
  width: 850px; height: 300px;
  background-image: url('../../assets/banner.jpg');
  background-size: cover;
  border-radius: 5px;
  // overflow: hidden;
}

.informations-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 185px;
  background-color: #151728;
}

.profile {
  position: absolute;
  display: flex; align-items: center;
  bottom: 20px; left: 25px;
}

img {
  width: 150px; height: 150px;
  border-radius: 50%;
  border: 3px solid #151728;
}

.name {
  color: rgb(255, 255, 255);
  margin-left: 1.5em;
  font-size: 1.9em;
  font-weight: bold;
}

.text{
  margin-top: 33px;
  text-align: center;
  font-size: 19px;
  padding-bottom: 7px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}



.example-card {
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
  height: 80px;
}
mat-card-header{
  border-bottom: 1px solid #000;
  font-weight: bold;
}

mat-card-title{
  font-size: 100px;
}
mat-card-content{
  p{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 18px;
    font-weight: bold;
  }
}

.flex{
  display: flex;
  justify-content: baseline;
}
button{
  width: auto;
  font-size: 15px;
}
